<!DOCTYPE html>
<html>
<body>
<input type="button" onclick="javascrtpt:window.location.href='/role/add'" value="添加">
<table border="1">
    <tr>
        <th>角色名</th>
        <th>操作</th>
    </tr>
    <% for(var i = 0; i < list.length; i++) { %>
        <tr>
            <td><%= list[i].name %></td>
            <td><a href="/role/update?id=<%= list[i]._id %>">修改</a>
            <a href="/role/del?id=<%= list[i]._id %>">删除</a></td>
        </tr>
    <% } %>
</table>
<script>

</script>
</body>
</html>